@font-face {
  font-family: 'Inconsolata';
  src: url('./assets/fonts/Inconsolata.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inconsolata Bold';
  src: url('./assets/fonts/Inconsolata-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Work Sans';
  src: url('./assets/fonts/WorkSans-Regular.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Maison Neue Bold';
  src: url('./assets/fonts/MaisonNeue-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atelier';
  src: url('./assets/fonts/atelier.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument Extended';
  src: url('./assets/fonts/MonumentExtended-Regular.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Inconsolata', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;

  color-scheme: light dark;
  color: #e6e3dc;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}

a:hover {
  color: #ffffff;
  text-decoration: shadow;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 'Monument Extended', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-family: 'Monument Extended', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.5em;
}

h4 {
  font-family: 'Inconsolata Bold', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-style: oblique;
  font-size: 1.2em;
  line-height: 1;
  ;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ae2121;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

    {
    /*nav underline color change */
  }

  a:hover {
    color: #e3e8eb;
    text-shadow: 0 0 10px rgba(174, 209, 231, 0.9);
  }

  button {
    background-color: #e6e3dc;
  }
}