.cardStyle {
    border-radius: 10px;
}

.default {
    width: 100%;
    height: 100%;
    background-color: white;
}

.skillCard {
    border-radius: 15%;
    height: 75%;
    padding: 10%;
    align-items: left;
    text-align: left;
    background-color: rgb(242, 244, 245);
}

.previewCard {
    background: #182c4a;
    color: white;
    opacity: 0.7;
    flex: 0 0 auto;
    padding: calc(1vh + 10px);
    min-width: calc(40px + 5vw);
    width: calc(100px + 15vw);
    scroll-snap-align: start;
    height: calc(150px + 2vh);
    border-radius: 45px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    justify-content: center;
    transition: all 0.3s ease;
    cursor: pointer;
}

.previewCard:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 15px rgba(158, 213, 255, 0.8);
}

.previewText {
    font-size: calc(5px + 0.5vw);
    text-align: center;
    margin: 0%;
}

.personalCard {
    width: 100%;
    min-height: 20px;
    padding: calc(1vh + 10px) 0;
    border-radius: 30px;
    opacity: 0.85;
    background-color: rgb(214, 216, 225);
    color: #43515d;
}

.personalCard:hover {
    transform: scale(1.02);
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 10px 5px rgba(235, 236, 244, 0.3);
}

.uniCard {
    width: 100%;
    min-height: 20px;
    padding: calc(1vh + 10px) 0;
    border-radius: 30px;
    opacity: 0.85;
    background-color: rgb(235, 239, 227);
    color: #43515d;
}

.uniCard:hover {
    transform: scale(1.02);
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 10px 5px rgba(237, 241, 234, 0.3);
}

.workCard {
    width: 100%;
    min-height: 20px;
    padding: calc(1vh + 10px) 0;
    border-radius: 30px;
    opacity: 0.85;
    background-color: rgb(218, 230, 232);
    color: #43515d;
}

.workCard:hover {
    transform: scale(1.02);
    background-color: rgb(252, 252, 252);
    box-shadow: 0 0 10px 5px rgba(243, 246, 248, 0.3);
}

.activePreviewCard {
    width: 100%;
    min-height: 20px;
    padding: calc(1vh + 10px) 0;
    background: #1f3a51;
    opacity: 0.9;
    color: white;
    flex: 0 0 25%;
    border-radius: 40px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.mainProjectCard {
    flex: 1;
    text-align: left;
    line-height: 1;
    width: 100%;
    height: 90%;
    padding: calc(2vh + 10px) calc(6vh + 20px);
    border-top-left-radius: 15vh;
    border-bottom-left-radius: 15vh;
    opacity: 0.9;
    margin-bottom: 15px;
}

.artCard {
    background-color: lightgoldenrodyellow;
}